<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="payrollConnectionString" connectionString="Data Source=prantik-pc;Initial Catalog=payroll;User ID=prantik;Password=prantik"
            providerName="System.Data.SqlClient" />
        <add name="payrollConnectionString2" connectionString="Data Source=(local);Initial Catalog=payroll;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="payrollConnectionString3" connectionString="Data Source=PRANTIK-PC;Initial Catalog=payroll;Persist Security Info=True;User ID=prantik;Password=prantik"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
